body
{
    padding: 0;
    margin: 0;
    size: 16px;
    background-color:wheat;
    color: black;
}
/*Начальные данные*/
.GeneralTEXT
{
    text-align: center;
}

#XInput
{
    width: 125px;
    height: 17px;
}

/*Результат*/

#result
{
    margin-top: 20px;
}

.r1
{
    text-align: center;
}

#dowland
{
    color: green;
}

/*График*/
#canvasALL
{
    display: grid;
    justify-content: center;
}

.canvas
{
    border: 1px solid black;
    background-color: white;
    margin-bottom: 5px;
}

