body
{
    padding: 0;
    margin: 0;
    size: 16px;
    background-color:wheat;
    color: black;
}

a
{
    text-decoration: none;
    color: black;
}

.header
{
    display: flex;
}
.r1
{
    text-align: center;
}

.back
{
    margin: 0;
    padding: 15px 0;
}

.aback
{
    text-decoration: none;
    color: black;
}

.aback:hover
{
    color: green;
}

/*Результат*/
.GeneralTEXT
{
    text-align: center;
}

#result
{
    margin-top: 20px;
}

.r1
{
    text-align: center;
}

.InfoItog
{
    display: flex;
    justify-content: center;
}
.InfoItogP
{
    margin-right: 15px;
    text-align: center;
}

#DivKoordinat
{
    text-align: center;
}
#AKoordinat
{
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(196, 191, 191);
}

#AKoordinat:hover 
{
    background-color: grey;
}
/*Структура*/
#Struktura
{
    display: flex;
    justify-content: center;
}

#SrtukturaSVG
{
    background-color: wheat;
}
