body
{
    padding: 0;
    margin: 0;
    size: 16px;
    background-color:wheat;
    color: black;
}
.header
{
    display: flex;
}
.r1
{
    text-align: center;
}

.back
{
    margin: 0;
    padding: 15px 0;
}

.aback
{
    text-decoration: none;
    color: black;
}

.aback:hover
{
    color: green;
}

/*Результат*/
.GeneralTEXT
{
    text-align: center;
}

#result
{
    margin-top: 20px;
}

.r1
{
    text-align: center;
}

.InfoItog
{
    display: flex;
    justify-content: center;
}
.InfoItogP
{
    margin-right: 15px;
    text-align: center;
}
/*Структура*/
#Struktura
{
    display: flex;
    justify-content: center;
}

#StrukturaSVG
{
    background-color: white;
}
